* {
  color: white;
}

.screen {
  height: 53vh;
  // background: radial-gradient(circle, rgb(76, 60, 95) 0%, rgb(73, 54, 94) 30%, rgba(10, 0, 24, 0.87) 100%);
  background: radial-gradient(circle, rgb(83, 68, 100) 0%, rgb(95, 70, 121) 30%, rgba(10, 0, 24, 0.87) 100%);
}

h1 {
  font-size: 5em;
}

i {
  font-size: 2em;
}

p {
  font-size: 1.3em;
}

a {
  padding-inline: 10px;
}

.bi {
  cursor: pointer;
}

.socialMedia:hover {
  transform: translateY(-10px);
}

.socialMedia {
  padding: 0;
  transition: 0.5s ease-in-out;
}

@media(max-width: 768px) {
  .screen {
    height: 65vh;
  }
}
