body {
  background-color: rgba(253, 252, 252, 0.753);

}

.card {
  position: relative;
  max-width: 340px;
  height: 260px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}

.card:hover {
  height: 415px;
}

.card .image {
  position: relative;
  width: 290px;
  max-height: 290px;
  border-radius: 15px;
  top: 0;
  left: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

img {
  width: 100%;
}

.content {
  position: relative;
  top: -80px;
  padding: 10px 15px;
  color: #000;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card:hover .content {
  margin-top: 80px;
  visibility: visible;
  opacity: 1;
}

@media(max-width:768px) {

  .card {
    height: 415px;
  }

  .card:hover .content {
    margin-top: 0px;
  }

  .content {
    visibility: visible;
    opacity: 1;
    top: 0px;
  }

}