
<div class="container">

  <div class="row">
      <div class = "col-6 card">
        <div class = "image">
          <img src ="assets/imagesProject/projectValorant.png">
          <div class="d-flex justify-content-center py-2">
            <h2>Projeto Valorant</h2>
          </div>
        </div>
        <div class = "content">
          <p class="m-0">Nesse projeto foi feito uma Wiki do jogo chamado "Valorant" da empresa "Riot Games", ele foi feito consumindo uma API externa e nele contém animações de fade, transições, modals e etc</p>
        </div>
      </div>

      <div class = "col-6 card">
        <div class = "image">
          <img src ="assets/imagesProject/projectCrud.png">
          <div class="d-flex justify-content-center py-2">
            <h2>Projeto Crud</h2>
          </div>
        </div>
        <div class = "content">
          <p class="m-0">Nesse projeto foi feito um crud com paginação, ordenação etc</p>
        </div>
      </div>
    </div>
</div>
