.screen {
  height: 50vh;
  // background: linear-gradient(0deg, rgba(120,34,195,0.4458158263305322) 0%, rgba(44, 80, 158, 0.412) 100%);
  background: linear-gradient(0deg, rgba(45,112,253,0.41220238095238093) 0%, rgba(120,34,195,0.4458158263305322) 100%);
}

.card {
  position: relative;
  max-width: 340px;
  height: 260px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
  // background: radial-gradient(circle, rgb(83, 68, 100) 0%, rgb(73, 54, 94) 30%, rgba(10, 0, 24, 0.87) 100%);
  background: linear-gradient(0deg, rgba(45,112,253,0.41220238095238093) 0%, rgba(120,34,195,0.4458158263305322) 100%);
}

.card:hover {
  height: 415px;
}

.card .image {
  position: relative;
  width: 290px;
  max-height: 290px;
  border-radius: 15px;
  top: 0;
  left: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

img {
  width: 100%;
}

.content {
  position: relative;
  top: -80px;
  padding: 10px 15px;
  color: #000;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  
}

h2,
p {
  color: white;
}


.card:hover .content {
  margin-top: 80px;
  visibility: visible;
  opacity: 1;
}

.btn {
  margin: 10px;
  color: white;
}

@media(max-width:768px) {

  .card {
    height: 415px;
  }

  .card:hover .content {
    margin-top: 0px;
  }

  .content {
    visibility: visible;
    opacity: 1;
    top: 0px;
  }

}